## Imports

## Load data

In [1]:
import pandas as pd
import numpy as np
from unidecode import unidecode

In [2]:
df = pd.read_csv('despesa_ceaps_2021.csv')
df2 =  pd.read_csv('despesa_ceaps_2020.csv')
df3 =  pd.read_csv('despesa_ceaps_2019.csv')
df4 =  pd.read_csv('despesa_ceaps_2018.csv')

## Cleaning data

In [3]:
columns = ['TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'COD_DOCUMENTO', 'Unnamed: 11']

In [5]:
df_clean = df.drop(columns=columns, axis=1)
df_clean2 = df2.drop(columns=columns, axis=1)
df_clean3 = df3.drop(columns=columns, axis=1)
df_clean4 = df4.drop(columns=columns, axis=1)

In [7]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16808 entries, 0 to 16807
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                16808 non-null  int64
 1   MES                16808 non-null  int64
 2   SENADOR            16808 non-null  object
 3   VALOR_REEMBOLSADO  16807 non-null  object
dtypes: int64(2), object(2)
memory usage: 525.4+ KB

In [6]:
# Apply lowercase to rows
df_clean = df_clean.astype(str).apply(lambda x: x.str.lower())
df_clean2 = df_clean2.astype(str).apply(lambda x: x.str.lower())
df_clean3 = df_clean3.astype(str).apply(lambda x: x.str.lower())
df_clean4 = df_clean4.astype(str).apply(lambda x: x.str.lower())

In [9]:
# Apply lowercase to columns' names
df_clean.columns = map(str.lower, df_clean.columns)
df_clean2.columns = map(str.lower, df_clean2.columns)
df_clean3.columns = map(str.lower, df_clean3.columns)
df_clean4.columns = map(str.lower, df_clean4.columns)

In [10]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16808 entries, 0 to 16807
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ano                16808 non-null  object
 1   mes                16808 non-null  object
 2   senador            16808 non-null  object
 3   valor_reembolsado  16808 non-null  object
dtypes: object(4)
memory usage: 525.4+ KB

In [11]:
# Replaces inconvenient punctuation
df_clean['valor_reembolsado'] = df_clean['valor_reembolsado'].str.replace(',', '.')
df_clean2['valor_reembolsado'] = df_clean2['valor_reembolsado'].str.replace(',', '.')
df_clean3['valor_reembolsado'] = df_clean3['valor_reembolsado'].str.replace(',', '.')
df_clean4['valor_reembolsado'] = df_clean4['valor_reembolsado'].str.replace(',', '.')

In [13]:
# Changes datetype
df_clean['ano'] = df_clean['ano'].astype(int)
df_clean['mes'] = df_clean['mes'].astype(int)

df_clean2['ano'] = df_clean2['ano'].astype(int)
df_clean2['mes'] = df_clean2['mes'].astype(int)

df_clean3['ano'] = df_clean3['ano'].astype(int)
df_clean3['mes'] = df_clean3['mes'].astype(int)

df_clean4['ano'] = df_clean4['ano'].astype(int)
df_clean4['mes'] = df_clean4['mes'].astype(int)

In [14]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16808 entries, 0 to 16807
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ano                16808 non-null  int64
 1   mes                16808 non-null  int64
 2   senador            16808 non-null  object
 3   valor_reembolsado  16808 non-null  object
dtypes: int64(2), object(2)
memory usage: 525.4+ KB

In [15]:
# Cleans pt-br marks on names
df_clean['senador'] = df_clean['senador'].apply(unidecode)
df_clean2['senador'] = df_clean2['senador'].apply(unidecode)
df_clean3['senador'] = df_clean3['senador'].apply(unidecode)
df_clean4['senador'] = df_clean4['senador'].apply(unidecode)

In [16]:
df_clean['senador']

0            acir gurgacz
1            acir gurgacz
2            acir gurgacz
3            acir gurgacz
4            acir gurgacz
               ...
16803    zequinha marinho
16804    zequinha marinho
16805    zequinha marinho
16806    zequinha marinho
16807    zequinha marinho
Name: senador, Length: 16808, dtype: object

**********************

## Loading datasets

In [17]:
df_2021 = df_clean
df_2020 = df_clean2
df_2019 = df_clean3
df_2018 = df_clean4

## Concats dfs

In [18]:
df_final = pd.concat([df_2021, df_2020, df_2019, df_2018])

In [20]:
df_final.isna().value_counts()

ano    mes    senador  valor_reembolsado  unnamed: 12  unnamed: 13  unnamed: 14  unnamed: 15
False  False  False    False              True         True         True         True           55390
                                          False        False        False        False          21634
dtype: int64

In [22]:
df_final = df_final.drop(columns=['unnamed: 12', 'unnamed: 13', 'unnamed: 14', 'unnamed: 15'])

In [24]:
df_final.to_csv('base_final_gastos_parlamentares.csv', sep='\t', encoding='utf-8', index=None)

In [25]:
df_teste = pd.read_csv('base_final_gastos_parlamentares.csv', sep='\t', encoding='utf-8')

In [26]:
df_teste

        ano  mes        senador valor_reembolsado
0      2021    1   acir gurgacz             75.29
1      2021    1   acir gurgacz              1000
2      2021    1   acir gurgacz              6000
3      2021    1   acir gurgacz              1500
4      2021    1   acir gurgacz              6000
...     ...  ...            ...               ...
77019  2018   12  zeze perrella            220.05
77020  2018   12  zeze perrella             73.02
77021  2018   12  zeze perrella            232.01
77022  2018   12  zeze perrella           1132.69
77023  2018   12  zeze perrella           1260.45

[77024 rows x 4 columns]